form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20px 20px 20px 50px 20px;
    grid-gap: 5px;
    border: 1px solid black;
}

.firstName {
    grid-column-start: 2;
    grid-column-end: 4
}

.surname {
    grid-column-start: 4; 
    grid-column-end: 6
}

.email {
    grid-column-start: 2; 
    grid-column-end: 4
}

.birthplace {
    grid-column-start: 4; 
    grid-column-end: 6
}

.phone {
    grid-column-start: 2;
    grid-column-end: 4
}

.favFood {
    grid-column-start: 4; 
    grid-column-end: 6
}

.about {
    grid-column-start: 2;
    grid-column-end: 6
}

.submit {
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: aqua
}