body {
    background-color: darkslategray;
    background-image: url("droplets.png");
    color: gainsboro;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.logo {
    font-family: cursive;
}

h1 {
    font-family: cursive;
    font-size: 70px 
}

h2 {
    font-family: cursive;
    font-size: 40px
}



.table {
    display: table;
    margin: 0 auto
}

        ul {
            list-style-type: none;
            padding: 0;
        }

        .navItem {
            display: inline;
            padding-left: 50px;
            font-family: cursive;
            color: gainsboro
        }
        /* Why won't navItem font color take effect? */

        .quickRef {
            display: inline;
            padding-right: 30px;
            font-family: cursive
        }

        .popLocale {
            padding-left: 30px;
        }


.badgeItself {
    background-color: dimgray;
    border-radius: 10px;
    padding: 17px;
    padding-left: 45px;
}

.button {
    border-radius: 10px;
    background-color: silver;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
        .tipsContent {
            grid-column-start: 2;
            grid-column-end: 6
        }

            img {
               max-width: 100%;
            }        
            /* .tipsImage1 {
                background-image: url("crying_lady.jpg");
            } */

        .homeContent {
            grid-column-start: 2;
            grid-column-end: 6
        }

.snapshot {
    font-size: 30px;
    font-style: bold
}


