body {
    background-color: darkslategray;
    background-image: url("droplets.png");
    color: gainsboro;
}

h1 {
    font: cursive; 
}
/* Why isn't this reaching my h1s? */

.table {
    display: table;
    margin: 0 auto
}

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            padding-right: 30px;
        }

.badgeItself {
    background-color: dimgray;
    border-radius: 10px;
    padding: 17px;
    padding-left: 60px;
}

.button {
    border-radius: 10px;
    background-color: dimgray;
}