body{
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: F8F9EA;
	background-color: 3B2F2F;
	align-content: center;
	padding-left: 100px;
}

h1{
	color: F8F9EA;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.todoContainer{
	/* Background-color: #7FFFD4; */
	border: 1px solid black;
}

/* #toDoList {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
} */


form {
	/* Margin: auto; */
Display: grid;
Grid-template-columns: 1fr;
Width: 40%;
Grid-gap: 10px;
}

img{
	max-height: 200px;
	width: auto;
}