.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 40px 40px;
    grid-gap: 3px;
}

.box1 {
    background-color: red;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box2 {
    background-color: blue;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.box3 {
    background-color: green;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.box4 {
    background-color: purple;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 5;
}

.box5 {
    background-color: yellow;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
}