body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
}

p {
    color: #eeeeee;
    font-size: 25px;
}

.credits {
    color: blue;
    text-decoration: underline;
}

#film-description {
    font-size: 15px;
    font-style: italic;
}