

body {
    align-content: center;
    background-color: 80C9DF;
    height: 125%;
    font-size: 100%;
}



h1 {
    text-align: center 
}

.heading {
    font-size: 4em;
    color:A60C0C;
    font-family: 'Courier New', Courier, monospace
    
}

ol {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

li {
    margin-top: 40px;
}

.baddy {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 15px;
     color: A60C0C;
}

img{
    margin-top: 20px;
    width: 225px;
    height: auto;
}

.inputPosition {
    margin-top: 15px;
}


#addAllTogether {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    margin-top: 290px;
    text-align: center;
}

/* button {
    float: left;
    width: 100%;
    text-align: center;
} */

.footer {
    margin-top: 30px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: A60C0C    
}

/* .theWholeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
} */

/* 
#bobomb{
    width: 200px;
    height: 100px;
}

/* #cheepcheep{
    width: 200px;
    height: 100px;
}  */

    /* .container {
    display: inline-block;
    display: flex;
    justify-content: center; 
    margin: 20px;
    position: relative;
    width: 300px;
    height: auto;
} */

/* img.resize {
    max-width: 200px;
    height: 300px;
} */