

body {

    background-color: 80C9DF;
}

/* .container {
    max-width: 500px;
    max-height: 500px;
} */
/* 
#goomba{
    position: absolute
}

#bobomb{
    position: relative
}

#cheepcheep{
    position: relative
} */

