

body {

    background-color: 80C9DF;
}



#goomba{
    width: 33.33%
}

#bobomb{
    width: 33.33%
}

#cheepcheep{
    width: 33.33%
} 

.container {
    display: inline-block;
    margin: 20px;
    position: relative;
    width: 300px;
    height: auto;
}

img.resize {
    max-width: 200px;
    height: 300px;
}