.todo{
	Background-color: #7FFFD4;
}

#todo-list {
	display: flex;
	justify-content: space-around
}

form {
	/* Margin: auto; */
Display: grid;
Grid-template-columns: 1fr;
Width: 40%;
Grid-gap: 10px;
}