
/* Don't fight against grid by setting height and doing grid. Leave it be and it'll adjust */
@font-face {
    font-family: 'Normal Paragraph';
    src: url(LibreBaskervilleNormal.woff2);
}

@font-face {
    font-family: 'Titles for Paragraphs';
    src: url(JuliaSansOneLongQtail.woff2);
}

@font-face {
    font-family: 'Weird Symbols';
    src: url(verdemoderna.ttf);
}

@font-face {
    font-family: 'Italic Libre';
    src: url(LibreBaskervilleItalic.woff2);
}

p {
    font-family: 'Normal Paragraph';
    color: #325050;
    line-height: 1.7em;
    font-size: 18;
}

h1 {
    font-family: 'Titles for Paragraphs';
    font-size: 50;
    color: FFFFFF;
}

h2 {
    font-family: 'Titles for Paragraphs';
}

h3 {
    font-family: 'Titles for Paragraphs';
    color: C1D2D1;
    font-size: 21;
}

h4 {
    font-family: 'Weird Symbols';
    font-size: 50;
    color: 89A1A3;
    /* h4 font size jumps to about 60 at screen width of 1272 */
}

h5 {
    font-family: 'Italic Libre';
    font-size: 25;
    color: 89A09A;
    text-align: center;

}

ul {
    height: 100%;
    list-style-type: none;
    font-family: 'Titles for Paragraphs';
    font-size: 22;  
}

li {
    border-bottom: 1px #325050;
}
    /* I don't know why the underline isn't working */

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
/* design for cell phone first for width of 360 px for Galaxy S5 */
.header{
    background:  url('gridlines.png') repeat,
        url('contours-opaque.png') repeat,
        url('huntington.jpg') no-repeat;
    margin: 0;
}


.headerLeft{
    /* height: 174px; */
    width: auto;
    border: 1px solid black;
}

.headerRight{
    /* height: 60px; */
    width: auto;
    border: 1px solid black;
}

.textLeft1{
    /* height: 954px; */
    width: auto;
    border: 2px solid black;
}

.textLeft2{
    /* height: 775px; */
    width: auto;
    border: 1px solid black;
    background-color: BDD5C7;
    background-image: url("bamboo.png");
}

.textLeft3{
    /* height: 860px; */
    width: auto;
    border: 1px solid black;
}

.topFooter{
    /* height: 172px; */
    width: auto;
    border: 1px solid black;
    /* background-image: url("koi.jpg") */
    background:  url('gridlines.png') repeat,
        url('contours-opaque.png') repeat,
        url('koi.jpg') no-repeat;
    margin: 0;
}

.bottomFooter{
    /* height: 100px; */
    width: auto;
    border: 1px solid black;
    background-color: 124346;
    text-align: center;
    
}

.designersRight{
    /* height: 300px; */
    width: auto;
    border: 1px solid black;
    background-color: E5EDE8;
}

.flexDesigners {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linksRight{
    /* height: 165px; */
    width: auto;
    border: 1px solid black;
    background-color: B0CDBC;
    background-image: url("bamboo.png")
}

.flexLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



/* below cell phone layout, put for ipad */
@media only screen and (min-width: 488px) {
    /* put images from above in here, but adjusted to look right for this width */
    /* maybe you only put in the parts that change? */
    .headerLeft{
        /* height: 152px; */
        width: auto;
        border: 1px solid black;
    }
    
    .headerRight{
        /* height: 60px; */
        width: auto;
        border: 1px solid black;
    }
    
    .textLeft1{
        /* height: 742px; */
        width: auto;
        border: 1px solid black;
    }
    
    .textLeft2{
        /* height: 569px; */
        width: auto;
        border: 1px solid black;
    }
    
    .textLeft3{
        /* height: 654px; */
        width: auto;
        border: 1px solid black;
    }
    
    .topFooter{
        /* height: 215px; */
        width: auto;
        border: 1px solid black;
    }
    
    .bottomFooter{
        /* height: 118px; */
        width: auto;
        border: 1px solid black;
    }
    
    .designersRight{
        /* height: 320px; */
        width: auto;
        border: 1px solid black;
    }
    
    .linksRight{
        /* height: 186px; */
        width: auto;
        border: 1px solid black;
    }
    


}

/* I believe the next one is for the width of a computer screen */
@media only screen and (min-width: 768px){
    .headerLeft{
        /* height: 152px; */
        width: auto;
        border: 1px solid black;
    }
    
    .headerRight{
        /* height: 60px; */
        width: auto;
        border: 1px solid black;
    }
    
    .textLeft1{
        /* height: 638px; */
        width: auto;
        border: 1px solid black;
    }
    
    .textLeft2{
        /* height: 465px; */
        width: auto;
        border: 1px solid black;
    }
    
    .textLeft3{
        /* height: 471px; */
        width: auto;
        border: 1px solid black;
    }
    
    .topFooter{
        /* height: 171px; */
        width: auto;
        border: 1px solid black;
    }
    
    .bottomFooter{
        /* height: 118px; */
        width: auto;
        border: 1px solid black;
    }
    
    .designersRight{
        /* height: 316px; */
        width: auto;
        border: 1px solid black;
    }
    
    .linksRight{
        /* height: 186px; */
        width: auto;
        border: 1px solid black;
    }
    

}


@media only screen and (min-width: 1132px) {
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* grid-auto-rows: max-content;  */
        grid-template-rows: fit-content;
    }
    .headerLeft{
        
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 2;  
        grid-row-start: 1;
        grid-row-end: 2; 
    }
    
    .headerRight{
        height: 100%;
        border: 1px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .textLeft1{
        
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .textLeft2{
       
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .textLeft3{
        
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .topFooter{
       
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .bottomFooter{
        
        border: 1px solid black;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .designersRight{
        height: 100%;
        border: 1px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        
    }
    
    .linksRight{
        height: 100%;
        border: 1px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .blankBoxRight{
        border: 1px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: E5EDE8;
       }

   
    
}