

@font-face {
    font-family: 'Normal Paragraph';
    src: url(LibreBaskervilleNormal.woff2);
}

@font-face {
    font-family: 'Titles for Paragraphs';
    src: url(JuliaSansOneLongQtail.woff2);
}

@font-face {
    font-family: 'Weird Symbols';
    src: url(verdemoderna.ttf);
}

p {
    font-family: 'Normal Paragraph';
}

h2 {
    font-family: 'Titles for Paragraphs';
}

h4 {
    font-family: 'Weird Symbols';
    font-size: 60;
    color: 89A1A3;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}
/* design for cell phone first for width of 360 px for Galaxy S5 */
.header{
    background-image: url("huntington.jpg");
    /* background-image: url("gridlines-opaque.png"); */
}


.headerLeft{
    height: 174px;
    width: auto;
    border: 2px solid black;
}

.headerRight{
    height: 60px;
    width: auto;
    border: 2px solid black;
}

.textLeft1{
    height: 954px;
    width: auto;
    border: 2px solid black;
}

.textLeft2{
    height: 775px;
    width: auto;
    border: 2px solid black;
    background-color: BDD5C7;
    background-image: url("bamboo.png");
}

.textLeft3{
    height: 860px;
    width: auto;
    border: 2px solid black;
}

.topFooter{
    height: 172px;
    width: auto;
    border: 2px solid black;
    background-image: url("koi.jpg")
}

.bottomFooter{
    height: 100px;
    width: auto;
    border: 2px solid black;
    background-color: 124346;
    
}

.designersRight{
    height: 300px;
    width: auto;
    border: 2px solid black;
    background-color: E5EDE8;
}

.linksRight{
    height: 165px;
    width: auto;
    border: 2px solid black;
    background-color: B1E6CC;
    background-image: url("bamboo.png")
}




/* below cell phone layout, put for ipad */
@media only screen and (min-width: 488px) {
    /* put images from above in here, but adjusted to look right for this width */
    /* maybe you only put in the parts that change? */
    .headerLeft{
        height: 152px;
        width: auto;
        border: 2px solid black;
    }
    
    .headerRight{
        height: 60px;
        width: auto;
        border: 2px solid black;
    }
    
    .textLeft1{
        height: 742px;
        width: auto;
        border: 2px solid black;
    }
    
    .textLeft2{
        height: 569px;
        width: auto;
        border: 2px solid black;
    }
    
    .textLeft3{
        height: 654px;
        width: auto;
        border: 2px solid black;
    }
    
    .topFooter{
        height: 215px;
        width: auto;
        border: 2px solid black;
    }
    
    .bottomFooter{
        height: 118px;
        width: auto;
        border: 2px solid black;
    }
    
    .designersRight{
        height: 320px;
        width: auto;
        border: 2px solid black;
    }
    
    .linksRight{
        height: 186px;
        width: auto;
        border: 2px solid black;
    }
    


}

/* I believe the next one is for the width of a computer screen */
@media only screen and (min-width: 768px){
    .headerLeft{
        height: 152px;
        width: auto;
        border: 2px solid black;
    }
    
    .headerRight{
        height: 60px;
        width: auto;
        border: 2px solid black;
    }
    
    .textLeft1{
        height: 638px;
        width: auto;
        border: 2px solid black;
    }
    
    .textLeft2{
        height: 465px;
        width: auto;
        border: 2px solid black;
    }
    
    .textLeft3{
        height: 471px;
        width: auto;
        border: 2px solid black;
    }
    
    .topFooter{
        height: 171px;
        width: auto;
        border: 2px solid black;
    }
    
    .bottomFooter{
        height: 118px;
        width: auto;
        border: 2px solid black;
    }
    
    .designersRight{
        height: 316px;
        width: auto;
        border: 2px solid black;
    }
    
    .linksRight{
        height: 186px;
        width: auto;
        border: 2px solid black;
    }
    

}


@media only screen and (min-width: 1132px) {
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: max-content;
    }
    .headerLeft{
        
        border: 2px solid black;
        grid-column-start: 1;
        grid-column-end: 2;  
        grid-row-start: 1;
        grid-row-end: 2; 
    }
    
    .headerRight{
        height: 100%;
        border: 2px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .textLeft1{
        
        border: 2px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .textLeft2{
       
        border: 2px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .textLeft3{
        
        border: 2px solid black;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .topFooter{
       
        border: 2px solid black;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .bottomFooter{
        
        border: 2px solid black;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    
    .designersRight{
        height: 100%;
        border: 2px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .linksRight{
        height: 100%;
        border: 2px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .blankBoxRight{
        border: 2px solid black;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: E5EDE8;
       }
    
}